<div class="sidebar-module cta">

    {% if module.image %}
        <img src="{{TimberImage(module.image).src|resize(540,300)}}" alt="{{TimberImage(module.image).alt}}" class="sidebar-cta-image">
    {% endif %}

    <div class="cta-text {{module.image ? 'with-image' : 'without-image'}}">
    
        {% if module.heading %}
            <h3 class="sidebar-cta-heading">{{module.heading}}</h3>
        {% endif %}

        {% if module.copy %}
            {{module.copy}}
        {% endif %}

        {% if module.link %}
            <a class="button button-primary" href="{{module.link.url}}" target="{{module.link.target}}">{{module.link.title}}</a>
        {% endif %}

    </div>
            
</div>