{% set post_type = module.post_type %}

<div class="sidebar-module post-feed-sidebar post-type-{{post_type}}">

    <div class="feed-sidebar-content">

    {% if post_type == 'event' %}
        {% set category = module.event_category %}
    {% else %}
        {% set category = TimberTerm(module.post_category) %}
        {% set args = {
            'numberposts' : module.max,
            'order' : 'DESC',
        } %}
        {% set items = category.get_posts(args) %} 
    {% endif %}

    {% set events %}

        {% filter shortcodes %}

            [ecs-list-events cat='{{category.slug}}' limit='{{module.max}}' excerpt='false' viewall='false' contentorder='date, title']

        {% endfilter %}

    {% endset %}

    {% set blog_posts %}
        <ul>
        {% for item in items %}
            <li class="feed-post">
                <p class="feed-sidebar-date">{{item.date|date("l, F j")}}</p>
                <h4 class="feed-sidebar-title"><a href="{{item.link}}">{{item.name}}</a></h4>
            </li>
        {% endfor %}
        </ul>
    {% endset %}

    {% if module.heading %}
        <h2>{{module.heading}}</h2>
    {% endif %}

    {{post_type == 'event' ? events : blog_posts}}

</div>
</div>