<div class="module cta-landing">
    
    <div class="cta-band" style="background-image: url({{TimberImage(module.image).src|resize(720,480)}})">
    
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="cta-content">
                        <h4>{{module.heading}}</h4>
                        <p class="w-75">{{module.copy}}</p>
                        <a class="btn btn-light" href="{{module.link.url}}" target="{{module.link.target}}">{{module.link.title}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>