<div class="module cta">

    <div class="card">

        <img src="{{TimberImage(module.image).src|resize(540,300)}}" class="card-img-top cta-image">

        <div class="card-body">    
            <h2 class="h3 card-title">{{module.heading}}</h2>
            <p class="card-text">{{module.copy}}</p>
            <a class="btn btn-secondary" href="{{module.link.url}}" target="{{module.link.target}}">{{module.link.title}}</a>
        </div>
    </div>
            
</div>