<div class="module cta-group">
    <div class="container">

        {% if module.heading %}
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
            </div>
        </div>
        {% endif %}

        
        <div class="row">

            {% for cta in module.cta_group %}

                <div class="col-lg-4 cta">
                    
                    <div class="row">

                        <div class="col-md-6 col-lg-12">

                            {% if cta.image %}
                                <img src="{{TimberImage(cta.image).src|resize(640,426)}}" class="cta-image">
                            {% endif %}

                        </div>

                        <div class="col-md-6 col-lg-12">

                            <div class="cta-text">

                                {% if cta.heading %}
                                    <h3 class="cta-heading">{{cta.heading}}</h3>
                                {% endif %}

                                {% if cta.copy %}
                                    <p class="cta-copy">{{cta.copy}}</p>
                                {% endif %}

                                {% if cta.link %}
                                    <a class="button button-primary" href="{{cta.link.url}}" target="{{cta.link.target}}">{{cta.link.title}}</a>
                                {% endif %}
                                
                            </div>

                        </div>

                    </div>

                </div>
            
            {% endfor %}

        </div>

    </div>
</div>