<div class="module cta-group">
    <div class="container">

        {% if module.heading %}
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
            </div>
        </div>
        {% endif %}

        
        <div class="row">
            {% for cta in module.cta_group %}
            <div class="col-md-4">
                <div class="card">
                    {% if cta.image %}
                    <img src="{{TimberImage(cta.image).src|resize(540,300)}}" class="card-image-top mw-100">
                    {% endif %}

                    <div class="card-body">
                        {% if cta.heading %}
                        <h3 class="card-title">{{cta.heading}}</h3>
                        {% endif %}

                        {% if cta.copy %}
                        <p class="card-text">{{cta.copy}}</p>
                        {% endif %}

                        {% if cta.link %}
                        <a class="btn btn-secondary" href="{{cta.link.url}}" target="{{cta.link.target}}">{{cta.link.title}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>