{% set image = TimberImage(module.image) %}

<div class="module hero" style="background-image: url('{{image.src|resize(3200, 2135, 'center')}}');">

    <div class="row no-gutters">

        <div class="col-lg-5 offset-lg-7">

            <div class="hero-content">
                    
                <div class="container">

                    <div class="row">

                        <div class="col-md-10 offset-md-1">

                            <h1 class="hero-heading">{{module.heading}}</h1>
                            <p class="hero-copy">{{module.copy}}</p>
                            {% if module.buttons %}
                                <ul class="list-buttons">
                                    {% for button in module.buttons %}
                                        <li class="list-buttons-item"><a href="{{button.link.url}}" target="{{button.link.target}}" class="button button-primary">{{button.link.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div>

                    </div>

                </div>
                    
            </div>

        </div>

    </div>

</div>