{% set image = TimberImage(module.image) %}

<div class="module hero">

    <img src="{{image.src|resize(3200, 1000, 'center')}}" alt="{{image.alt}}" class="mw-100">

    <div class="jumbotron jumbotron-fluid m-0">

        <div class="container text-center">
            <h1 class="display-4">{{module.heading}}</h1>
            <p class="lead w-50 d-inline-block mx-auto">{{module.copy}}</p>

            {% if module.buttons %}
            <ul class="list-inline m-0">
                {% for button in module.buttons %}
                <li class="list-inline-item"><a class="btn btn-primary" href="{{button.link.url}}" target="{{button.link.target}}">{{button.link.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
            
    </div>
   
</div>