<div class="module image-gallery">

    {% if module.heading %}
    <div class="row">
        <div class="col">
           <h2 class="h4">{{module.heading}}</h2>
        </div>
    </div>
    {% endif %}

    {% set carousel = 'carousel-'~loop.index %}
    
    <div id="{{carousel}}" class="carousel slide">

      <div class="carousel-inner">
      
        {% for image in module.gallery %}
        
          {% set image = TimberImage(image) %}
        
          <div class="carousel-item {{loop.index == 1 ? 'active'}}">
            <img class="d-block w-100" src="{{image.src|letterbox(900, 600, '#000')}}" alt="{{image.alt}}" />

            {% if image.caption %}
            <div class="carousel-caption d-none d-md-block">
              <p>{{image.caption}}</p>
            </div>
            {% endif %}

          </div>
          
        {% endfor %}
      
      </div> <!-- /.carousel-inner -->

      <a class="carousel-control-prev" href="#{{carousel}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#{{carousel}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div> <!-- /#{{carousel}} -->

</div>