{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header>
			{% block header %}

				<nav class="navbar navbar-dark bg-dark py-0">
					<div class="container">
						<!-- Social Media -->
						{% if options.social_media %}
							<span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-3">
								<a href="{{options.social_media.facebook}}" target="_blank" title="Facebook">
									<i class="fab fa-facebook"></i>
								</a>
							</span>
							<span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-3">
								<a href="{{options.social_media.twitter}}" target="_blank" title="Twitter">
									<i class="fab fa-twitter"></i>
								</a>
							</span>
						{% endif %}

						<!-- Home -->
						<span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-auto"><a href="/">Home</a></span>

						<!-- Contact -->
						<span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-4"><a href="/contact">Contact</a></span>

						<!-- Crisis Line -->
						<span class="navbar-text mr-4 order-2 order-md-1 mr-md-auto order-lg-0 mr-lg-4">Crisis Line: <a href="tel:{{options.crisis_line}}">{{options.crisis_line}}</a></span>

						<!-- Donate -->
						<a class="btn btn-secondary d-none d-lg-inline order-lg-0 mr-lg-4" href="/donate">Donate</a>

						<!-- Emergency Exit -->
						<a class="btn btn-warning mr-4 order-1 order-md-2 order-lg-0" href="https://google.com/">Emergency Exit</a>

						<!-- Search -->
						<form class="form-inline order-3 order-lg-0">
							<label class="sr-only" for="search">Search</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text bg-dark text-light border-0"><i class="fas fa-search"></i></div>
								</div>
								<input class="form-control mr-sm-2 bg-dark text-light border-0 w-50" type="search" placeholder="Search Site..." aria-label="Search" id="search">
							</div>
						</form>
					</div>
				</nav>

				<nav class="navbar navbar-light bg-light navbar-expand-lg py-2" role="navigation">

					<div class="container">

						<span class="navbar-brand mb-0 h1" role="banner">
							<a href="{{site.url}}" rel="home">{{site.name}}</a>
						</span>

						<button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse flex-column align-items-start ml-lg-2 ml-0" id="navbarCollapse">
							<!-- Header Menu -->
							<div class="navbar-nav ml-auto">
								{% include 'menu-header.twig' with {'menu': header.get_items, } %}
							</div>

						</div>
					</div>
				</nav>

			{% endblock %}
		</header>

		<section role="main" class="main">
			{% if menu_items %}
			<div class="container">
				<div class="row">
					<nav class="nav">
						{% for item in menu_items %}
							<a class="nav-link {{item.id == current ? 'current'}}" href="{{item.link}}">{{item.name}}</a>
						{% endfor %}
					</nav>
				</div>
			</div>
			{% endif %}

			{% if title %}
			<div class="container">
				<h1 class="title">{{title}}</h1>
			</div>
			{% endif %}

			{% block content %}
			Sorry, no content
			{% endblock %}
			
		</section>

		<div class="container">
			{% block footer %}
				<footer>
					{% include 'footer-primary.twig' %}
					{% include 'footer-secondary.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
		
	</body>
</html>