{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header>
			{% block header %}
				<nav class="navbar navbar-light bg-light navbar-expand-lg py-2" role="navigation">

					<div class="container">

						<span class="navbar-brand mb-0 h1" role="banner">
							<a href="{{site.url}}" rel="home">{{site.name}}</a>
						</span>

						<button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse flex-column align-items-start ml-lg-2 ml-0" id="navbarCollapse">
							<!-- Header Menu -->
							<div class="navbar-nav ml-auto">
								{% include 'menu-header.twig' with {'menu': header.get_items, } %}
							</div>

						</div>
					</div>
				</nav>

			{% endblock %}
		</header>

		<section role="main" class="main">
			{% if menu_items %}
			<div class="container">
				<div class="row">
					<nav class="nav">
						{% for item in menu_items %}
							<a class="nav-link {{item.id == current ? 'current'}}" href="{{item.link}}">{{item.name}}</a>
						{% endfor %}
					</nav>
				</div>
			</div>
			{% endif %}

			{% if title %}
			<div class="container">
				<h1 class="title">{{title}}</h1>
			</div>
			{% endif %}

			{% block content %}
			Sorry, no content
			{% endblock %}
			
		</section>

		<div class="container">
			{% block footer %}
				<footer>
					{% include 'footer-primary.twig' %}
					{% include 'footer-secondary.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
		
	</body>
</html>