<div class="row footer-primary text-muted">
    <div class="col-md-4 offset-md-2">
        <h6 class="mb-3">{{site.name}}</h6>

        
            {% if options.location %}
            <ul class="list-unstyled mb-3">
                {% set google_map_url = options.location.google_map_url %}

                <li>

                {{google_map_url ? '<a href="'~google_map_url~'" target="_blank">' }}

                    {% if options.location.address_line_1 %}
                    {{options.location.address_line_1}}<br>
                    {% endif %}

                    {% if options.location.address_line_2 %}
                    {{options.location.address_line_2}}<br>
                    {% endif %}

                    {% if options.location.city %}
                    {{options.location.city}},
                    {% endif %}

                    {% if options.location.state %}
                    <abbr title="{{options.location.state.label}}">{{options.location.state.value}}</abbr>
                    {% endif %}

                    {% if options.location.zip %}
                    {{options.location.zip}}
                    {% endif %}

                {{options.location.google_map_url ? '</a>' }}

                </li>
            </ul>
            {% endif %}

                {% if options.phone %}
                <ul class="list-unstyled mb-3">
                <li>Admin: <a href="tel:{{options.phone}}">{{options.phone}}</a></li>
                {% endif %}

                {% if options.crisis_line %}
                <li>Crisis Line: <a href="tel:{{options.crisis_line}}">{{options.crisis_line}}</a></li>
                </ul>
                {% endif %}
        </ul>

        {% if options.social_media %}
        <ul class="list-inline mb-3">
            <li class="list-inline-item">
                <span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-3">
                    <a href="{{options.social_media.facebook}}" target="_blank" title="Facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                </span>
            </li>
            <li class="list-inline-item">
                <span class="navbar-text d-none d-lg-inline order-lg-0 mr-lg-3">
                    <a href="{{options.social_media.twitter}}" target="_blank" title="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </span>
            </li>
        </ul>
        {% endif %}
                
    </div>

    <div class="col-md-4 offset-md-1">
        {% include 'menu-footer.twig' with {'menu': footer.get_items,} %}
    </div>

    <div class="col-md-7 offset-md-2">
        {% if options.disclaimer %}
            <small>{{options.disclaimer}}</small>
        {% endif %}
    </div>

    <div class="col-md-3">
        {% if options.badges %}
            <ul class="list-inline mb-0">
                {% for badge in options.badges %}
                    <li class="list-inline-item">
                        <a href="{{badge.url}}" title="{{badge.name}}" target="_blank">
                            <img src="{{TimberImage(badge.image).src}}" alt="{{TimberImage(badge.image).alt}}" class="mw-100">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</div>